jupyter_packaging==0.7.12
flaky==3.7.0
notebook==6.3.0
pre-commit==2.11.1
pytest==6.2.2
pytest-tornasync==0.6.0.post2
selenium==3.141.0
wheel==0.36.2
# jupyterlab is installed separately so we can test multiple versions
