build==1.4.0
jupyter_packaging==0.12.3
flaky==3.8.1
pre-commit==4.5.1
pytest==9.0.2
# selenium==4.11.2
selenium==4.41.0
traitlets==5.14.3
wheel==0.46.3
# jupyterlab and jupyter_server are installed separately so we can test multiple versions
